<h1>ProductList</h1>
<div class="table-responsive-sm">
  <h2 *ngIf="products.length==0">Kay Rao Sampla ki.... :(</h2>
<table *ngIf="products.length>0" class="table">
  <thead class="thead-light">
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of products">
      <td>{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.description}}</td>
      <td>{{item.price}}</td>
      <td>
        <button (click)="deleteProduct(item)" class="btn btn-danger">
           Delete
        </button>
        <button (click)="updateProduct(item)" class="btn btn-secondary" style="margin-left: 10px" >
            Update
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div style="height: 10%;width: 100%;"></div>
<div *ngIf="updateFlage==1" class="divCenter">
<h3>Update Product</h3>

<div class="form-group col-md-8">
  <label for=""><b>Title</b></label>
  <input [(ngModel)]="productToBeUpdated.title" type="text" value="{{productToBeUpdated.title}}" class="form-control">
</div>
<div class="form-group col-md-8">
  <label for=""><b>Description</b></label>
  <textarea [(ngModel)]="productToBeUpdated.description" class="form-control" value="{{productToBeUpdated.description}}" name="" id="" rows="5"></textarea>
</div>
<div class="form-group col-md-8">
  <label for=""><b>Price</b></label>
  <input type="text" [(ngModel)]="productToBeUpdated.price" value="{{productToBeUpdated.price}}" class="form-control">
</div>
<div>
  <button (click)="saveProduct()" class= "btn btn-primary">Save</button>
</div>
</div>