<div >
  <h1>Add Product</h1>

  <div class="form-group">
    <label for="">Title</label>
    <input [(ngModel)]="title" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Description</label>
    <textarea [(ngModel)]="description" class="form-control" name="" id="" rows="5"></textarea>
  </div>
  <div class="form-group">
    <label for="">Price</label>
    <input [(ngModel)]="price" type="text" class="form-control">
  </div>
  <div>
    <button (click)="addProduct()" class= "btn btn-primary">Save</button>
  </div>
</div>